
{% extends 'base.html' %}

{% block content %}
<body>
	<div>
		<h2>Creadores:</h2>
		<h3><a href="https://github.com/alvarogonzalez96" target="blank" >- Álvaro González</a></h3>	
		<h3><a href="https://github.com/IzaiAnda" target="blank" >- Izai </a></h3>
		<hr>
		<h2>Directorio de trabajo:</h2>
		<h3><a href="https://github.com/alvarogonzalez96/iot" >GitHub</a></h3>
		<hr>
		<h2>Contacta con nosotros:</h2>
		<h3><a href="mailto: alvaro.gonzalez96@opendeusto.es" >Envía un email</a></h3>
		<hr>
		<h2>Localización</h2>
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2905.053781431335!2d-2.940746284138192!3d43.27124908506206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1609579731923!5m2!1ses!2ses" width="60%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</div>
</body>
{% endblock %}