{% extends 'base.html' %}

{% block content %}
<body>
<form method="POST">
	<h1>Elige el tiempo para calentar</h1>

	<div class="slidecontainer">
  		<input type="range" name="time" min="1" max="3600" value="0" class="slider" id="myRange">
  		<p>Tiempo (s): <span id="demo"></span></p>
  		<p>Tiempo (min):<span id="demomin"></span></p>
  		
  		<input type="submit" value="Calentar!">
	</div>

	<script>
		var slider = document.getElementById("myRange");
		var output = document.getElementById("demo");
		var out = document.getElementById("demomin");
		
		output.innerHTML = slider.value;

		slider.oninput = function() {
  			output.innerHTML = this.value;
  			out.innerHTML = ((this.value)/60).toFixed(2);
		}
	</script>
</form>

</body>
{% endblock %}